#menuItems{
  width: 10%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
}

#menuItems button{
  display: block;
  width: 100%;
  padding: 15px;
  background: blue;
  color: white;
  border-bottom: 2px solid black;
}

#recentArticles:hover{
background: indigo;
}

#jumpMenu{
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background: orange;
}

#recentArticles:hover + #jumpMenu{
  display: block;
}

#jumpMenu:hover{
  display: block;
}

#jumpMenu a:hover{
  background: blue;
  color: white;
}

header{
  margin-left: 10%;
  width: 90%;              
  background-color: red;
  text-align: center;
  top: 0;
  position: fixed;

}
header p{
  margin: 0;
  padding: 18px 12px;
  font-size: 25px;
}

nav button{
  position: relative;
  font-size: 20px;
  flex: 1;
  background: blue;
  color: white;
  border-color: black;
  padding: 20px 20px;
}

#container{
  margin-left: 15%;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

#container p:not(:has(a))::first-letter {
  font-size: 36px;
}

#container p a::after {
  content: "";
  display: inline-block;
  width: 20px; 
  height: 20px;
  background-image: url("arrow.png");
  background-size: contain;
}

#container p {
 width: 300px;
}

#container article {
  width: 300px;
}
body {
  margin: 0;
  padding-top: 160px;
}

h2{
text-align:center;
}

h1{
text-align:center;
font-size: 40px;
margin-left: 10%
}
#container article {
  color: lightgray;
  transition: 
    color 2s,
    transform 2s;
  }

#container article:hover {
  color: black;
  transform: scale(1.15);
}
#thanks{
  position: fixed;
  padding: 18px 12px;
  bottom: -40px;
  right: 0px;
  background: lightblue;
  font-size: 35px;
  border: 1px solid black;
}

