#jumpMenu{
 background: orange;
 width: 10%;
 height: 100vh;
 position: fixed;
 top: 0;
 left: 0;
 text-align: center;
}

#jumpMenu a{
  display: block;
  margin: 45px 0;
}

header{
  margin-left: 10%;
  width: 90%;              
  background-color: red;
  text-align: center;
  top: 0;
  position: fixed;

}
header p{
  margin: 0;
  padding: 18px 12px;
  font-size: 25px;
}

nav button{
  position: relative;
  font-size: 20px;
  flex: 1;
  background: blue;
  color: white;
  border-color: black;
  padding: 20px 20px;
}

#container{
  margin-left: 15%;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

#container p {
 width: 300px;
}
#container article {
  width: 300px;
}
body {
  margin: 0;
  padding-top: 160px;
}

h2{
text-align:center;
}

h1{
text-align:center;
font-size: 40px;
margin-left: 10%
}

header nav{
background-color: black;
}

#thanks{
  position: fixed;
  padding: 18px 12px;
  bottom: -40px;
  right: 0px;
  background: lightblue;
  font-size: 35px;
  border: 1px solid black;
}

address{
margin-left: 10%
}


